@page
@model _16_RazorSample.Pages.IndexModel
@{
	Layout = null;
}
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
</head>
<body>
	<h1>@Model.Name is @Model.Age and he is at @Model.Address</h1>
</body>
</html>